<div class="d-flex flex-center space-between">
  <ul id="header-items">
    <li>Laundry</li>
  </ul>

  <div class="d-mobile dropdown" dropdown (onSelected)="selectedItem($event)">
    <button class="button button-link right" data-toggle="dropdown">
        <i class="fa fa-bars"></i>
    </button>
    <ul dropdownMenu class="dropdown-menu">
      <li [routerLinkActive]="['active']"><a [routerLink]="['/app/dashboard']"><i class="fas fa-tachometer mr-15"></i>dashboard</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/app/orders']"><i class="fa fa-shopping-cart mr-15"></i>orders</a></li>
      <li><a [routerLink]="['/login']" [queryParams]="{ logout: true }"><i class="fas fa-sign-out mr-15"></i>Logout</a></li>
    </ul>
  </div>  
</div>