@import '../../../scss/_variables';

.notifications_wrapper {
    position: fixed;
    top: 3.5rem;
    right: 0;
    padding: 10px;
    .notification {
        position: relative;
        margin-bottom: 10px;
        right: 0;
        z-index: 1000;
        padding: 10px;
        min-width: 15rem;
        max-width: 18rem;
        border-radius: 2px;
        overflow: hidden;
        &.is-info {
            background-color: $blue1;
        }
        &.is-danger {
            background-color: $red1;
        }
        &.is-info,
        &.is-danger {
            color: $white;
        }
        .dismiss {
            position: absolute;
            top: .5rem;
            right: .5rem;
            background-color: rgba(10, 10, 10, .2);
            height: 20px;
            width: 20px;
            line-height: 21px;
            border-radius: 50%;
            outline: 0;
            border: none;
            cursor: pointer;
            color: $white;
        }
    }
}
