//@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

$fa-font-path: "../node_modules/font-awesome/fonts";
$font-family: 'Raleway', sans-serif;
$font-color: #434A54;
$white: #fff;
$lightGrey1: #E6E9ED;
$lightGrey2: #F5F7FA;
$mediumGrey1: #AAB2BD;
$mediumGrey2: #CCD1D9;
$darkGrey1: #434A54;
$darkGrey2: #656D78;
$blue1: #4A89DC;
$blue2: #5D9CEC;

//Set control colors
$control-text-color1:    #fff;
$control-text-color2:    #434A54;
$control-green:          #48CFAD;
$control-green-dark:     #37BC9B;
$control-blue:           #5D9CEC;
$control-blue-dark:      #4A89DC;
$control-gray:           #F5F7FA;
$control-gray-dark:      #E6E9ED;
$control-red:            #ED5565;
$control-red-dark:       #DA4453;