@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

//Set default colors
$font-family: 'Raleway', sans-serif;
$font-color: #434A54;
$white: #fff;
$lightGrey1: #E6E9ED;
$lightGrey2: #F5F7FA;
$mediumGrey1: #AAB2BD;
$mediumGrey2: #CCD1D9;
$darkGrey1: #434A54;
$darkGrey2: #656D78;
$blue1: #4A89DC;
$blue2: #5D9CEC;
$red1: #DA4453;
$red2: #ED5565;
$green1: #48CFAD;
$green2: #37BC9B;

//Set control colors
$control-text-color1:    $white;
$control-text-color2:    $font-color;
$control-green:          $green2;
$control-green-dark:     $green1;
$control-blue:           $blue2;
$control-blue-dark:      $blue1;
$control-gray:           $lightGrey2;
$control-gray-dark:      $lightGrey1;
$control-red:            $red2;
$control-red-dark:       $red1;