@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:300,400,700');

$fa-font-path: "../node_modules/font-awesome/fonts";
$font-family: 'Roboto', sans-serif;
$white: #fff;
$lightGrey1: #E6E9ED;
$lightGrey2: #F5F7FA;
$mediumGrey1: #AAB2BD;
$mediumGrey2: #CCD1D9;
$darkGrey1: #434A54;
$darkGrey2: #656D78;
$blue1: #4A89DC;
$blue2: #5D9CEC;