/* Narrow */
@media only screen and (max-width: 480px) {
    .d-mobile {
        display: block !important;
    }
    .d-desktop {
        display: none !important;
    }
    .main {
        flex-direction: column;
    }
} 

/* Medium */
@media only screen and (min-width: 481px) and (max-width: 960px) {

} 

/* Wide */
@media only screen and (min-width: 961px) {

} 