@import 'mixins';

@include breakpoint(sm) {
    .d-mobile {
        display: block !important;
    }
    .d-desktop {
        display: none !important;
    }
    .main {
        flex-direction: column;
    }
}

@include breakpoint(md) {

}

@include breakpoint(lg) {
    
}