@import './variables';
@import './mixins';
@import './buttons';
@import './dropdown';
@import './resp';
* {
  margin: 0;
  padding: 0;
}

html,
body,
.full-screen {
  height: 100%;
}

body {
  color: $font-color;
  font-family: $font-family;
  font-size: 0.9rem;
  line-height: 1.5;
}

//region display utils

.d-flex {
    display: flex;
}
.d-none,
.d-mobile {
    display: none;
}
.d-desktop {
  display: block;
}
.flex-right {
    justify-content: flex-end;
}
.flex-left {
    justify-content: flex-start;
}
.flex-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}

//endregion


// region margins and paddings

@for $i from 1 through 20 {
  .mt-#{$i} {
    margin-top: toRem($i);
  }
  .mb-#{$i} {
    margin-bottom: toRem($i);
  }
  .mr-#{$i} {
    margin-right: toRem($i);
  }
  .ml-#{$i} {
    margin-left: toRem($i);
  }

  .pt-#{$i} {
    padding-top: toRem($i);
  }
  .pb-#{$i} {
    padding-bottom: toRem($i);
  }
  .pr-#{$i} {
    padding-right: toRem($i);
  }
  .pl-#{$i} {
    padding-left: toRem($i);
  }
}

//endregion margins

.full-screen {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  >* {
    flex: 0 0 auto;
  }
  >.header {
    background-color: #252830;
    padding: 15px 20px;
    color: #fff;
    #header-items {
      display: flex;
      list-style: none;
    }
  }
  >.main {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
    >* {
      flex: 0 0 auto;
      padding: toRem(10);
    }
    >.sidebar {
      background-color: $lightGrey2;
      width: 15rem;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          border-left: 2px solid transparent;
          &:hover,
          &.active {
            background-color: #E6E9ED;
            border-left: 2px solid #4A89DC;
          }
          a {
            padding: 10px;
            display: block;
            text-decoration: none;
            color: inherit;
            text-transform: capitalize;
            cursor: pointer;
            .fa {
              margin-right: toRem(10);
            }
          }
        }
      }
    }
    >.content {
      flex: 1 1 auto;
      overflow: auto;
    }
  }
}

.container {
  margin: 0 1rem;
}

.title {
  position: relative;
  text-transform: capitalize;
  &:before {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $lightGrey1;
  }
  * {
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    background-color: $white;
    position: relative;
    padding-right: 0.5em;
    vertical-align: middle;
    z-index: 2;
  }
}
